<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>API Monitor</title>
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="login-main">
    <div class="login-content">
        <div class="login-title">
            <img th:src="@{/img/logo.png}" height="50" class="login-logo"/>
        </div>
        <div class="login-body">
            <div class="login-body-content">
                <form name="form" th:action="@{/login}" action="/login" method="POST">
                    <div style="height: 40px;">
                        <div th:if="${param.error}" class="alert alert-danger login-alert">There was an error, please
                            try again
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input class="form-control" name="username" type="text" placeholder="Username"
                                   required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input class="form-control" name="password" type="password" placeholder="Password"
                                   required="required"/>
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-large btn-block btn-success" style="height: 40px;"
                               value="Login in"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>