<div class="mine-layout">
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-pencil-square"></i>新闻专题</div>
        <div class="mine-content">
            <ul id="newsTopicTab" class="nav nav-tabs" style="height:40px;">
                <li role="presentation" class="active">
                    <a href="#newsTopicList">专题列表</a>
                </li>
                <li role="presentation">
                    <a href="#newsTopicItems">专题栏目</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active mine-pane" id="newsTopicList">
                    <div class="form-inline mine-query">
                        <div class="form-group">
                            <label>专题名称</label>
                            <input type="text" class="form-control input-sm" ng-model="filter.name"/>
                        </div>
                        <div class="form-group">
                            <label>状态</label>
                            <select ng-model="filter.status" name="status" ng-init="filter.status=''"
                                    class="form-control input-sm">
                                <option value="">全部</option>
                                <option ng-repeat="status in statuses" ng-value="status.key">{{status.value}}</option>
                            </select>
                        </div>
                        <span class="form-group">
                            <button class="btn btn-sm btn-danger" type="button" ng-click="query()">查询</button>
                        </span>
                    </div>
                    <button class="btn btn-sm btn-primary" type="button" ng-click="edit('add')">新增</button>
                    <div class="gridStyle" ng-grid="gridOptions"></div>
                </div>
                <div class="tab-pane fade mine-pane" id="newsTopicItems">
                    <mine-message status="messageStatus" message="message"></mine-message>
                    <table class="table">
                        <tr>
                            <td width="100">
                                <mine-label name="新闻专题" required></mine-label>
                            </td>
                            <td>
                                <select ng-model="selectedCode" ng-change="topicSelect(selectedCode)"
                                        class="form-control input-sm" style="width:150px;">
                                    <option value="">请选择</option>
                                    <option ng-repeat="topic in rootTopics" ng-value="topic.key">{{topic.value}}
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mine-label name="栏目" required></mine-label>
                            </td>
                            <td>
                                <table id="newsTopicTable" class="table table-bordered table-condensed table-striped"
                                       style="width:600px;">
                                    <tr class="success">
                                        <td><strong>名称</strong></td>
                                        <td width="100"><strong>配置</strong></td>
                                        <td width="200"><strong>描述</strong></td>
                                        <td width="50"><strong>操作</strong></td>
                                    </tr>
                                    <tr ng-repeat = "line in newsTopic.topicLines" code="{{line.code}}">
                                        <td>
                                            <input type="text" class="form-control input-sm" value="{{line.name}}" maxlength="20"/>
                                        </td>
                                        <td>
                                            <select class="form-control input-sm">
                                                <option ng-repeat="status in statuses" ng-selected="status.key == line.status" ng-value="status.key">{{status.value}}</option>
                                            </select>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" ng-checked="line.hasImage">上传图片
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <textarea style='width: 100%;' rows="3">{{line.description}}</textarea>
                                        </td>
                                        <td>
                                            <button class='btn btn-info mine-btn-sm'  ng-click="moveTopicLine($event,'up')">上移</button>
                                            <button class='btn btn-info mine-btn-sm'  ng-click="moveTopicLine($event,'down')">下移</button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn-primary btn-sm" ng-disabled="buttonDisabled" ng-click="addTopicLine()">添加栏目</button>
                                <button class="btn btn-primary btn-sm" ng-disabled="buttonDisabled" ng-click="save()">保存</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>