<div class="mine-layout">
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-archive"></i>{{newsTitle}}
            <span ng-if="pageModel=='edit'" class="mine-title-right">
                <button class="btn btn-success btn-sm" ui-sref="news.list">返回</button>
           </span>
        </div>
        <div class="mine-content">
            <form class="form-horizontal" name="newsForm" novalidate>
                <input type="hidden" ng-model="news.id"/>
                <mine-message status="messageStatus" message="message"></mine-message>
                <table class="table">
                    <tr>
                        <td>
                            <mine-label name="标题" required></mine-label>
                        </td>
                        <td><input type="text" ng-model="news.title"
                                   name="title" ng-pattern="/^.{1,100}$/"
                                   class="form-control input-sm mine-input-abeam"
                                   style="width:400px;" required/>
                            <mine-validator  when="newsForm.title.$dirty" valid="newsForm.title.$valid" error="长度100字符以内"></mine-validator>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mine-label name="来源"></mine-label>
                        </td>
                        <td><input type="text" class="form-control input-sm"
                                   style=" width:400px;float: left;margin-right: 5px;" ng-model="news.source"
                                   name="source" ng-pattern="/^.{1,100}$/"/>
                            <mine-validator when="newsForm.source.$dirty" valid="newsForm.source.$valid" error="长度100字符以内"></mine-validator>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mine-label name="新闻类别" required></mine-label>
                        </td>
                        <td>
                            <select ng-model="news.type" name="type" ng-init="news.type=''"
                                    class="form-control input-sm mine-input-abeam" style="width:200px;" required>
                                <option value="">-- 请选择 --</option>
                                <option ng-repeat="newsType in newsTypes" ng-value="newsType.key">{{newsType.value}}
                                </option>
                            </select>
                            <mine-validator when="newsForm.type.$dirty" valid="newsForm.type.$valid" error="必选项"></mine-validator>
                        </td>
                    </tr>
                    <tr ng-show="news.type == '10' || news.type=='17'">
                        <td>
                            <mine-label name="图片" required></mine-label>
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm" ngf-select="imageUpload()" ng-model="file"
                                    name="file"
                                    ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="5MB"
                                    ngf-min-height="100">上传
                            </button>
                            <input type="hidden" ng-model="news.imageId"/>
                            <span ng-if="news.imageId">
                                <button class="btn btn-warning btn-sm" ng-click="preview(news.imageId)">预览</button>
                                &nbsp;{{image.originalName}}
                            </span>
                            <span ng-if="image.state!='SUCCESS'">{{image.state}}</span>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mine-label name="正文" required></mine-label>
                        </td>
                        <td height="300">
                            <div mine-umeditor ng-model="news.content" id="newsEditor" height="300"
                                 style="width:100%;"></div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-disabled="buttonDisable" ng-click="save()">
                                保存
                            </button>
                            <button class="btn btn-primary btn-sm" ng-disabled="buttonDisable" ng-click="submit()">
                                提交
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>