<div class="mine-layout">
    <mine-breadcrumb values="menuLocation"></mine-breadcrumb>
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-user-o"></i>新闻发布</div>
        <div>
            <form class="form-horizontal" name="newsForm">
                <table class="table">
                    <tr>
                        <td width="90" class="mine-query-lable">标题
                            <mine-required/>
                        </td>
                        <td><input type="text" class="form-control input-sm" style="width:500px;" ng-model="news.title"
                                   name="title" ng-pattern="/^.{1,100}$/" required/>
                            <mine-validator valid="newsForm.title.$valid"
                                            error="长度100字符以内"></mine-validator>
                        </td>
                    </tr>
                    <tr>
                        <td class="mine-query-lable">新闻类别
                            <mine-required/>
                        </td>
                        <td>
                            <select ng-model="news.type" name="type" class="form-control input-sm" style="width:200px;"
                                    required>
                                <option>军事</option>
                                <option>科技</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="mine-query-lable">图片</td>
                        <td>
                            <button class="btn btn-primary btn-sm" ngf-select="submit()" ng-model="file" name="file"
                                    ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"
                                    ngf-min-height="100">上传
                            </button>
                            <table ng-show="images.length > 0"
                                   class="table table-bordered table-striped table-condensed"
                                   style="margin-bottom: 0px;margin-top: 5px;">
                                <tr>
                                    <td align="center" width="50">序号</td>
                                    <td>名称</td>
                                    <td>引用地址</td>
                                    <td>大小</td>
                                    <td>操作</td>
                                </tr>
                                <tr ng-repeat="image in images">
                                    <td>{{$index+1}}</td>
                                    <td>{{image.originName}}</td>
                                    <td>{{image.accessUrl}}</td>
                                    <td>{{image.humanSize}}</td>
                                    <td><a href="javascript:void(0);" ng-click="preview(image)">预览</a>
                                        <a href="javascript:void(0);" ng-click="preview(image)">删除</a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="mine-query-lable">正文
                            <mine-required/>
                        </td>
                        <td>
                            <script type="text/plain" id="myEditor" style="width:100%;height:240px;">
                                  <p>这里我可以写一些输入提示</p>
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="test();">保存</button>
                            <button class="btn btn-primary btn-sm" ng-disabled="newsForm.$invalid">提交</button>
                            <button class="btn btn-primary btn-sm">预览</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>