<div class="mine-layout">
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-star"></i>技侦明星</div>
        <div class="mine-content">
            <div class="form-inline mine-query">
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control input-sm" ng-model="filter.name"/>
                </div>
                <div class="form-group">
                    <label>年月</label>
                    <input type="text" style="width: 100px;" class="form-control input-sm" ng-model="filter.year" maxlength="4"/>
                    <select ng-model="filter.month" class="form-control input-sm" style="width: 60px;">
                        <option value=""></option>
                        <option ng-repeat="m in months" ng-value="m.key">{{m.value}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>荣誉名称</label>
                    <input type="text" class="form-control input-sm" ng-model="filter.honor"/>
                </div>
                <span class="form-group">
                    <button class="btn btn-sm btn-danger" type="button" ng-click="query()">查询</button>
                </span>
            </div>
            <button class="btn btn-sm btn-primary" type="button" ng-click="add()">新增</button>
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>
</div>