<div class="aside-app-div" ng-app="asideApp" ng-controller="asideController">
    <div class="aside-app-menu-div" ng-init="loadMenu()"></div>
    <ul class="nav">
        <li ng-repeat="menu in menus">
            <a href="javascript:void(0);" class="first-menu-a" ng-click="menuClick($event, menu);">
                <span class="pull-right" ng-init="menu.extend=false" ng-if="menu.subMenus.length > 0">
                    <i class="fa fa-angle-right text" ng-hide="menu.extend"></i>
                    <i class="fa fa-angle-down text-active" ng-show="menu.extend"></i>
                </span>
                <i class="icon-th-list icon-white"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{menu.name}}</a>
            <ul class="nav" style="display:none;" ng-if="menu.subMenus.length > 0">
                <li ng-repeat="subMenu in menu.subMenus">
                    <a href="javascript:void(0);" class="second-menu-a" ng-click="menuClick($event, subMenu);">{{subMenu.name}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
