<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>重庆公安网</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/bootstrap-table/css/bootstrap-table.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/anyoneApp.css}"/>
    <link rel="stylesheet" th:href="@{/css/anyoneHome.css}"/>
</head>
<body ng-app="anyoneApp">
<input id="appContextPath" type="hidden" th:value="@{/}"/>
<div class="wrapper">
    <div class="header" ng-controller="headerController">
        <div class="header-top">
            <span>
               <img th:src="@{/images/anyone/top201507_02.jpg}" onclick="goto('https://www.baidu.com')"/>
               <img th:src="@{/images/anyone/top201507_03.jpg}" onclick="setHome(this)"/>
               <img th:src="@{/images/anyone/top201507_04.jpg}" onclick="goto('login')"/>
            </span>
        </div>
        <div class="header-image"></div>
        <div class="header-menu">
            <label>
                <img th:src="@{/images/anyone/jzmenu_find.jpg}"/>
                <input type="text" ng-model="searchText" style="width: 150px; height: 14px;margin-top: 5px;"/>&nbsp;
                <input type="button" value="搜 索" class="search-btn" ng-click="search()"/>
            </label>
            <span>
               <img th:src="@{/images/anyone/jzmenu_03.jpg}"/>
               <img th:src="@{/images/anyone/jzmenu_04.jpg}" ng-click="gotToUrl('/')"/>
               <img th:src="@{/images/anyone/jzmenu_06.jpg}" ng-click="gotToUrl('contacts')"/>
               <img th:src="@{/images/anyone/jzmenu_09.jpg}"/>
            </span>
        </div>
    </div>
    <div class="content">
        <div ng-view></div>
    </div>
    <div class="footer-push"></div>
</div>
<div class="footer">
    <div style="height: 8px;"></div>
    版权所有：重庆市公安局技术侦察总队<br/>
    联系地址：渝中区大网港15号&nbsp;联系电话：（023）63758402&nbsp;目前在线：5&nbsp;总访问数：621040&nbsp;当月访问：1137
</div>
<script th:src="@{/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap-table/js/bootstrap-table.js}"></script>
<script th:src="@{/lib/bootstrap-table/js/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/anyone/angular.min.js}"></script>
<script th:src="@{/anyone/angular-route.min.js}"></script>
<script th:src="@{/anyone/app-base.js}"></script>
<script th:src="@{/anyone/app.js}"></script>
</body>
</html>