<div class="mine-layout">
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-user-circle"></i>用户查询</div>
        <div class="mine-content">
            <div class="form-inline mine-query">
                <div class="form-group">
                    <label>账户</label>
                    <input type="text" class="form-control input-sm" ng-model="userQuery.account"/>
                </div>
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control input-sm" ng-model="userQuery.name"/>
                </div>
                <div class="form-group">
                    <label>手机</label>
                    <input type="text" class="form-control input-sm" ng-model="userQuery.mobile"/>
                </div>
                <span class="form-group">
                    <button class="btn btn-sm btn-danger" type="button" ng-click="query()">查询</button>
                </span>
                <br/>
                <div class="form-group">
                    <label>所属部门</label>
                    <mine-dropdown style="width:180px" inputId="organDropdown" ng-model="userQuery.organId"></mine-dropdown>
                </div>
                <div class="form-group">
                    <label>审批身份</label>
                    <select ng-model="userQuery.approveRole" name="type" class="form-control input-sm">
                        <option value=""></option>
                        <option ng-repeat="approveRole in approveRoles" ng-value="approveRole.key">
                            {{approveRole.value}}
                        </option>
                    </select>
                </div>
                <br/>
                <span class="form-group">
                    <label>创建时间</label>
                    <mine-datetime ng-model="userQuery.createdAt"></mine-datetime>
                </span>
                <span class="form-group">
                    <label>至</label>
                    <mine-datetime ng-model="userQuery.createdAtEnd"></mine-datetime>
                </span>
            </div>
            <div>
                <button class="btn btn-sm btn-primary" type="button" ng-click="edit(null)">新建</button>
                <button class="btn btn-sm btn-primary" type="button" ng-disabled="!selectedFlag"
                        ng-click="enable(false)">禁用
                </button>
                <button class="btn btn-sm btn-primary" type="button" ng-disabled="!selectedFlag"
                        ng-click="enable(true)">启用
                </button>
            </div>
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>
</div>