<div class="mine-layout">
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-archive"></i>我的信息</div>
        <div class="mine-content">
            <table class="table">
                <tbody>
                    <tr>
                        <td width="100" class="mine-title-td warning">账号</td>
                        <td>{{user.account}}</td>
                    </tr>
                    <tr>
                        <td class="mine-title-td warning">用户名</td>
                        <td>{{user.name}}</td>
                    </tr>
                    <tr>
                        <td class="mine-title-td warning">性别</td>
                        <td>{{user.genderMessage}}</td>
                    </tr>
                    <tr>
                        <td class="mine-title-td warning">审批角色</td>
                        <td>{{user.approveRoleMessage}}</td>
                    </tr>
                    <tr>
                        <td class="mine-title-td warning">所属部门</td>
                        <td>{{user.organName}}</td>
                    </tr>
                    <tr>
                        <td class="mine-title-td warning">邮箱</td>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <td class="mine-title-td warning">手机号</td>
                        <td>{{user.mobile}}</td>
                    </tr>
                    <tr>
                        <td class="mine-title-td warning">座机</td>
                        <td>{{user.telephone}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="warning"></td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="edit()">修改信息</button>
                            <button class="btn btn-primary btn-sm" ng-click="changePwd()">更新密码</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
            </div>
        </div>
    </div>
</div>