<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td width="201" valign="top">
            <!--值班人员-->
            <div class="home-zbry-top"></div>
            <div class="home-zbry-body">
                <table width="180" cellpadding="5" cellspacing="0">
                    <tr>
                        <td width="70" class="zbry-key">值班领导：</td>
                        <td class="zbry-value">{{home.watch.leader}}</td>
                    </tr>
                    <tr>
                        <td class="zbry-key">值<span style="display: inline-block;margin: 0 7px;">班</span>长：</td>
                        <td class="zbry-value">{{home.watch.captain}}</td>
                    </tr>
                    <tr>
                        <td class="zbry-key">值班民警：</td>
                        <td class="zbry-value">{{home.watch.worker}}</td>
                    </tr>
                    <tr>
                        <td class="zbry-key">值班电话：</td>
                        <td class="zbry-value">{{home.watch.phone}}</td>
                    </tr>
                </table>
            </div>
            <div class="home-window-foot"></div>
            <!--星级民警-->
            <div class="home-xjmj">
                <a class="home-more" href="#/superstarList" title="更多"  style="margin-top: 12px;"></a>
            </div>
            <div class="home-window-top">
            </div>
            <div class="home-window-body" style="height: 230px;">
                <div class="xjmj-show">
                    <div class="xjmj-inbox">
                        <ul class="xjmj-pic">
                            <li ng-repeat="superstar in home.superstars">
                                <img class="xjmj-image" ng-src="{{superstar.imageBase64}}">
                                <br/>{{superstar.name}}
                                <br/>{{superstar.honor}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="home-window-foot"></div>
            <!--市局邮箱-->
            <div class="home-sjyx"></div>
            <div class="home-window-top"></div>
            <div class="home-window-body" style="height: 100px;">
                <form>
                    <table class="sjyx-table">
                        <tr>
                            <td>账号：</td>
                            <td><input type="text" class="home-sjyx-input"/></td>
                        </tr>
                        <tr>
                            <td>密码：</td>
                            <td><input type="password" class="home-sjyx-input"/></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="登录" class="btn btn-sm btn-success"/>
                                <input type="reset" value="重置" class="btn btn-sm btn-warning"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="home-window-foot"></div>
            <!--应用系统-->
            <div class="home-yyxt"></div>
            <div class="home-window-top"></div>
            <div class="home-window-body" style="height: 220px;">
                <ul>
                    <li><a href="#">市局办公系统登录</a></li>
                    <li><a href="#">执法办案系统</a></li>
                    <li><a href="#">PKI/PMI认证授权访问</a></li>
                    <li><a href="#">八大资源库</a></li>
                    <li><a href="#">市局警务综合应用平台</a></li>
                    <li><a href="#">重庆社会信息资源平台</a></li>
                    <li><a href="#">在逃人员信息库</a></li>
                    <li><a href="#">全国警信息查询</a></li>
                    <li><a href="#">保密检查工具下载</a></li>
                </ul>
            </div>
            <div class="home-window-foot"></div>
            <div class="home-window-full" style="height: 200px;"></div>
            <!--网站导航-->
            <div class="home-wzdh"></div>
            <div class="home-window-top"></div>
            <div class="home-window-body" style="height: 130px;">
                <ul>
                    <li>
                        <select>
                            <option selected>市局直属单位</option>
                        </select>
                    </li>
                    <li>
                        <select>
                            <option selected>各分区县局公安网</option>
                        </select>
                    </li>
                    <li>
                        <select>
                            <option selected>各省市公安机关</option>
                        </select>
                    </li>
                    <li>
                        <select>
                            <option selected>全国技侦网</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="home-window-foot"></div>
        </td>
        <td valign="top" align="right" class="home-news-bg">
            <!--图片新闻-->
            <table width="795" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="3">
                        <div class="home-news-pic-title">
                            <a class="home-more" href="#/newsList/tpxw" title="更多"
                               style="margin-right: 20px;margin-top: 27px;"></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="12">
                        <div class="home-news-pic-left">
                        </div>
                    </td>
                    <td style="background-color: white;padding: 0 5px">
                        <div class="tpxw-show">
                            <div class="tpxw-inbox">
                                <ul class="tpxw-pic">
                                    <li ng-repeat="news in home.picNews" number="{{news.number}}">
                                        <img class="news-tpxw-image" ng-src="{{news.imageUrl}}">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <table class="home-new-tpxw" cellpadding="2">
                                <tr type="tpxw" class="news-no-select" ng-repeat="news in home.picNews"
                                    number="{{news.number}}">
                                    <td><img class="news-tpxw-image-sm" ng-src="{{news.imageUrl}}"/></td>
                                    <td><a href="#/newsInfo/{{news.number}}"
                                           title="{{news.title}}">{{news.title}}</a></td>
                                    <td>{{news.simpleTime}}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                    <td width="13">
                        <div class="home-news-pic-right"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="home-news-pic-foot"></div>
                    </td>
                </tr>
            </table>
            <div class="home-news-detail">
                <div class="home-news-image-01"></div>
                <div style="height: 470px;">
                    <!--警情快讯-->
                    <div class="home-news-module">
                        <div class="home-news-title-jqkx">
                            <a class="home-more home-more-02" href="#/newsList/jqkx" title="更多"></a>
                        </div>
                        <div class="home-news-window-body">
                            <table>
                                <tr ng-repeat="news in home.jqkxNews">
                                    <td width="10"><i class="fa fa-caret-right"></i></td>
                                    <td><a href="#/newsInfo/{{news.number}}" class="home-news-title"
                                           title="{{news.title}}">{{news.title}}</a></td>
                                    <td width="35">{{news.simpleTime}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="home-news-window-foot"></div>
                    </div>
                    <!--队伍建设-->
                    <div class="home-news-module">
                        <div class="home-news-title-dwjs">
                            <a class="home-more home-more-02" href="#/newsList/dwjs" title="更多"></a>
                        </div>
                        <div class="home-news-window-body">
                            <table>
                                <tr ng-repeat="news in home.dwjsNews">
                                    <td width="10"><i class="fa fa-caret-right"></i></td>
                                    <td><a href="#/newsInfo/{{news.number}}" class="home-news-title"
                                           title="{{news.title}}">{{news.title}}</a></td>
                                    <td width="35">{{news.simpleTime}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="home-news-window-foot"></div>
                    </div>
                    <!--部门动态-->
                    <div class="home-news-module">
                        <div class="home-news-title-bmdt">
                            <a class="home-more home-more-02" href="#/newsList/bmdt" title="更多"></a>
                        </div>
                        <div class="home-news-window-body">
                            <table>
                                <tr ng-repeat="news in home.bmdtNews">
                                    <td width="10"><i class="fa fa-caret-right"></i></td>
                                    <td><a href="#/newsInfo/{{news.number}}" class="home-news-title"
                                           title="{{news.title}}">{{news.title}}</a></td>
                                    <td width="35">{{news.simpleTime}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="home-news-window-foot"></div>
                    </div>
                    <!--学习园地-->
                    <div class="home-news-module">
                        <div class="home-news-title-xxyd">
                            <a class="home-more home-more-02" href="#/newsList/xxyd" title="更多"></a>
                        </div>
                        <div class="home-news-window-body">
                            <table>
                                <tr ng-repeat="news in home.xxydNews">
                                    <td width="10"><i class="fa fa-caret-right"></i></td>
                                    <td><a href="#/newsInfo/{{news.number}}" class="home-news-title"
                                           title="{{news.title}}">{{news.title}}</a></td>
                                    <td width="35">{{news.simpleTime}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="home-news-window-foot"></div>
                    </div>
                </div>
                <div class="home-news-image-02"></div>
                <div>
                    <!--网海拾贝-->
                    <div class="home-news-module">
                        <div class="home-news-title-whsb">
                            <a class="home-more home-more-02" href="#/newsList/whsb" title="更多"></a>
                        </div>
                        <div class="home-news-window-body">
                            <table>
                                <tr ng-repeat="news in home.whsbNews">
                                    <td width="10"><i class="fa fa-caret-right"></i></td>
                                    <td><a href="#/newsInfo/{{news.number}}" class="home-news-title"
                                           title="{{news.title}}">{{news.title}}</a></td>
                                    <td width="35">{{news.simpleTime}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="home-news-window-foot"></div>
                    </div>
                    <!--科技瞭望-->
                    <div class="home-news-module">
                        <div class="home-news-title-kjlw">
                            <a class="home-more home-more-02" href="#/newsList/kjlw" title="更多"></a>
                        </div>
                        <div class="home-news-window-body">
                            <table>
                                <tr ng-repeat="news in home.kjlwNews">
                                    <td width="10"><i class="fa fa-caret-right"></i></td>
                                    <td><a href="#/newsInfo/{{news.number}}" class="home-news-title"
                                           title="{{news.title}}">{{news.title}}</a></td>
                                    <td width="35">{{news.simpleTime}}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="home-news-window-foot"></div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <!--技侦风采-->
            <div class="home-jzfc"></div>
            <div class="home-jzfc-body" style="height: 100px;">
                <div class="tpxw-show">
                    <div class="tpxw-inbox">
                        <ul class="tpxw-pic">
                            <li ng-repeat="jzStyle in home.jzStyles" number="{{jzStyle.number}}">
                                <img class="news-tpxw-image" ng-src="{{jzStyle.imageUrl}}">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="home-jzfc-foot"></div>
        </td>
    </tr>
</table>