<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <div class="news-bg-title"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="news-bg-content">
                <div class="news-content">
                    <div class="news-title">{{news.title}}</div>
                    <div id="newsContent"></div>
                    <div class="mine-file-list" ng-if="news.attachments.length > 0">
                        <br/>
                        <strong>[附件]</strong>
                        <ul>
                            <li ng-repeat="attach in news.attachments">
                                <a target='_blank' ng-href='{{attach.fileUrl}}'>{{attach.fileName}}</a></li>
                            </li>
                        </ul>
                        <br/>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="news-bg-bottom"></div>
        </td>
    </tr>
</table>