<div class="mine-layout">
    <mine-breadcrumb values="menuLocation"></mine-breadcrumb>
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-television"></i>菜单维护</div>
        <table>
            <tr>
                <td width="200">
                    <div class="mine-border" style="min-height: 500px; max-height: 500px; overflow: auto;">
                        <ul id="menuTree" class="ztree"></ul>
                    </div>
                </td>
                <td width="20"></td>
                <td valign="top">
                    <form class="form-horizontal" name="menuForm">
                        <input type="hidden" ng-model="menu.id">
                        <div class="alert" ng-if="messageStatus != null"
                             ng-class="{true:'alert-success',false:'alert-danger'}[messageStatus]">
                            {{message}}
                        </div>
                        <div class="form-group" ng-class="{false:'has-error'}[menuForm.name.$valid]">
                            <label class="col-sm-2 control-label">菜单名称<span class="mine-required">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" ng-model="menu.name" name="name"
                                       required/>
                            </div>
                            <label class="control-label">
                                <mine-validator when="menuForm.name.$dirty" valid="menuForm.name.$valid"
                                                error="必填项"></mine-validator>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上级菜单</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" ng-model="menu.parentName" readonly>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{false:'has-error'}[menuForm.sequence.$valid]">
                            <label class="col-sm-2 control-label">排序<span class="mine-required">*</span></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" ng-model="menu.sequence"
                                       name="sequence"
                                       required ng-pattern="/^\d{1,2}$/">
                            </div>
                            <label class="control-label">
                                <mine-validator when="menuForm.sequence.$dirty" valid="menuForm.sequence.$valid"
                                                error="1-99数字"></mine-validator>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">菜单地址</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control input-sm" ng-model="menu.url" name="url">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-7">
                                <button class="btn btn-primary btn-sm" type="button" ng-click="update()"
                                        ng-disabled="menu.id == null || menuForm.$invalid">保存
                                </button>
                                <button class="btn btn-primary btn-sm" type="button" ng-click="delete()"
                                        ng-disabled="menu.id == null || menu.hasChildren">删除
                                </button>
                                <button class="btn btn-primary btn-sm" type="button" ng-click="addMenu()"
                                        ng-disabled="menu.level != 1">添加子菜单
                                </button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>