<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">
                &times;
            </button>
            <i class=" icon-th-large icon-white"></i><span class="modal-title">添加子菜单</span>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="menuForm">
                <input type="hidden" ng-model="menu.id">
                <div class="control-group">
                    <label class="control-label">上级菜单</label>
                    <div class="controls">
                        <input type="text" ng-model="menu.name" readonly>
                    </div>
                </div>
                <div class="control-group" ng-class="{false:'error'}[menuForm.name.$valid]">
                    <label class="control-label">菜单名称<span class="mine-required">*</span></label>
                    <div class="controls">
                        <input type="text" name="name" ng-model="menu.name" required/>
                        <mine-validator when="menuForm.name.$dirty" valid="menuForm.name.$valid"
                                        error="不能为空"></mine-validator>
                    </div>
                </div>
                <div class="control-group" ng-class="{false:'error'}[menuForm.sequence.$valid]">
                    <label class="control-label">排序<span class="mine-required">*</span></label>
                    <div class="controls">
                        <input type="text" name="sequence" ng-model="menu.sequence" required>
                        <mine-validator when="menuForm.sequence.$dirty" valid="menuForm.sequence.$valid"
                                        error="不能为空"></mine-validator>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">菜单地址</label>
                    <div class="controls">
                        <input type="text" name="url" ng-model="menu.url">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">保存</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>