<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">
            &times;
        </button>
        <span class="modal-title-icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span><span
            class="modal-title">
          {{title}}
        </span>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="menuForm">
            <input type="hidden" ng-model="menu.parentId">
            <div class="alert" ng-if="messageStatus != null"
                 ng-class="{true:'alert-success',false:'alert-danger'}[messageStatus]">
                {{message}}
            </div>
            <table class="table table-condensed table-bordered">
                <tr ng-if="menu.parentId != null">
                    <td class="warning" width="100">
                        <mine-key name="上级菜单"></mine-key>
                    </td>
                    <td width="250">
                        <span class="mine-win-value">{{menu.parentName}}</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td class="warning" width="100">
                        <mine-key name="菜单名称" required></mine-key>
                    </td>
                    <td width="250">
                        <input type="text" class="form-control input-sm" ng-model="menu.name" name="name"
                               ng-pattern="/^.{1,20}$/" required/>
                    </td>
                    <td>
                        <mine-validator class="mine-validator" right="true" valid="menuForm.name.$valid"
                                        when="menuForm.name.$dirty" error="长度1-20位以内"></mine-validator>
                    </td>
                </tr>
                <tr>
                    <td class="warning">
                        <mine-key name="菜单地址"></mine-key>
                    </td>
                    <td><input type="text" class="form-control input-sm" ng-model="menu.url" name="url"></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" ng-click="ok()" ng-disabled="menuForm.$invalid">保存</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">取消</button>
    </div>
</div>