<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">
            &times;
        </button>
        <span class="modal-title-icon"><i class="fa fa-plus-circle" aria-hidden="true"></i></span><span
            class="modal-title">添加角色</span>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="userForm">
            <div class="alert" ng-if="messageStatus != null"
                 ng-class="{true:'alert-success',false:'alert-danger'}[messageStatus]">
                {{message}}
            </div>
            <div class="form-group" ng-class="{false:'has-error'}[userForm.name.$valid]">
                <label class="col-sm-3 control-label">角色名
                    <mine-required/>
                </label>
                <div class="col-sm-5">
                    <input type="text" class="form-control input-sm" ng-model="role.name" name="name"
                           ng-pattern="/^.{1,20}$/" required/>
                </div>
                <mine-validator class="mine-validator" right="true" valid="userForm.name.$valid"
                                when="userForm.name.$dirty" error="长度1-20位以内"></mine-validator>
            </div>
            <div class="form-group" ng-class="{false:'has-error'}[userForm.description.$valid]">
                <label class="col-sm-3 control-label">描述</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control input-sm" ng-model="role.description" name="description"
                           ng-pattern="/^.{1,50}$/"/>
                </div>
                <mine-validator class="mine-validator" valid="userForm.description.$valid"
                                when="userForm.description.$dirty"
                                error="长度50位以内"></mine-validator>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" ng-click="ok()" ng-disabled="userForm.$invalid">保存</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">取消</button>
    </div>
</div>