<div class="mine-layout">
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-user-o"></i>角色查询</div>
        <div class="mine-content">
            <div class="form-inline mine-query">
                <div class="form-group">
                    <label>角色名</label>
                    <input type="text" class="form-control input-sm" ng-model="roleQuery.name"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-sm btn-danger" type="button" ng-click="query()">查询</button>
                </div>
            </div>
            <br/>
            <div>
                <button class="btn btn-sm btn-primary" type="button" ng-click="add()">新建</button>
            </div>
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>
</div>