<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">
            &times;
        </button>
        <span class="modal-title-icon"><i class="fa fa-edit" aria-hidden="true"></i></span><span
            class="modal-title">编辑角色</span>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="userForm">
            <div class="alert" ng-if="messageStatus != null"
                 ng-class="{true:'alert-success',false:'alert-danger'}[messageStatus]">
                {{message}}
            </div>
            <table class="table table-condensed table-bordered">
                <tr>
                    <td class="warning" width="100">
                        <mine-key name="角色名" required></mine-key>
                    </td>
                    <td width="250">
                        <input type="text" class="form-control input-sm" ng-model="role.name" name="name"
                               ng-pattern="/^.{1,20}$/" required></td>
                    <td>
                        <mine-validator class="mine-validator" right="true" valid="userForm.name.$valid"
                                        when="userForm.name.$dirty" error="长度1-20位以内"></mine-validator>
                    </td>
                </tr>
                <tr>
                    <td class="warning">
                        <mine-key name="备注"></mine-key>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" ng-model="role.description" name="description"
                               ng-pattern="/^.{1,50}$/"/>
                    </td>
                    <td>
                        <mine-validator class="mine-validator" valid="userForm.description.$valid"
                                        when="userForm.description.$dirty" error="长度50位以内"></mine-validator>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button" ng-click="ok()" ng-disabled="userForm.$invalid">保存</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="cancel()">取消</button>
    </div>
</div>