<div class="mine-layout">
    <mine-breadcrumb values="locations"></mine-breadcrumb>
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-user-circle"></i>角色查询</div>
        <div class="mine-query">
            <span class="mine-query-group">
                <label class="mine-query-lable">角色名</label>
                <span class="mine-query-span">
                   <input type="text" class="form-control input-sm" ng-model="roleQuery.name"/>
                </span>
            </span>
        </div>
        <div class="mine-query-button">
            <button class="btn btn-sm btn-success" type="button" ng-click="query()">查询</button>
        </div>
        <br/>
        <div>
            <button class="btn btn-sm btn-primary" type="button" ng-click="add()">新建</button>
        </div>
        <div class="gridStyle" ng-grid="gridOptions"></div>
    </div>
</div>