* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none
}

html,
body {
    height: 100%;
}

body {
    background: url("../images/topic/bg.png");
    background-size: cover;
}

img {
    height: auto;
    display: block
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    min-height: 100%;
    background-color: #faf6f3;
    box-shadow: 0 0 10px #545454;
}

.wrapper > .content {
    background-color: white;
}

.wrapper > .footer-push {
    height: 57px;
}

.footer {
    position: relative;
    top: -57px;
    height: 57px;
    width: 1024px;
    clear: both;
    margin: 0 auto;
    font-size: 13px;
    background-color: white;
    color: black;
    text-align: center;
}


.fix-header {
    position: fixed;
    height: 40px;
    text-align: right;
    display: block;
    overflow: hidden;
}

.fix-header div {
    width: 1024px;
}

.fix-header a {
    color: white;
    background-color: darkred;
    line-height: 30px;
    height: 30px;
    float: right;
    margin: 3px;
    text-align: center;
    font-size: 20px;
    padding: 0 7px;
    display: inline-block;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.fix-header a:hover {
    background-color: white;
    color: darkred;
    border: 1px solid darkred;
}

.topic-home, .list-home, .news-home {
    width: 980px;
    margin: 0 auto;
}

.topic-home > .top {
    margin-top: 10px;
}

.topic-home .image-title {
    height: 30px;
    border-bottom: 2px solid #cacaca;
}

.topic-home .image-title > label {
    width: 180px;
    padding-left: 20px;
    line-height: 30px;
    height: inherit;
    position: relative;
    color: #ca1803;
    font-weight: bold;
    border-bottom: 2px solid #ca1803;
    display: inline-block;
}

.topic-home .column {
    margin-top: 10px;
    width: 480px;
    height: 200px;
    display: block;
    position: relative;
}

.topic-home .column > .title {
    color: #8c0000;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-weight: bold;
    background-color: #e8cebd;
    background: -webkit-linear-gradient(top, #e8cebd, #d3b097);
    background: linear-gradient(top, #e8cebd, #d3b097);
    background: -o-linear-gradient(top, #e8cebd, #d3b097);
}

.topic-home .image-news-title {
    color: #82512e;
    margin: 5px;
    font-size: 13px;
    border-bottom: 1px dashed #9e9e9e;
}

.image-list .link-a {
    width: 400px;
    color: #82512e;
}

.topic-home .image-news-title .link-a {
    width: 400px;
    color: #82512e;
}

.topic-home .news-title {
    color: #82512e;
    margin: 5px;
    font-size: 13px;
}

.topic-home .news-title .link-a {
    width: 300px;
    color: #82512e;
}

.link-a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.more {
    font-size: 12px;
    color: darkred;
    font-weight: normal;
}

.image-more {
    font-size: 12px;
    line-height: 30px;
    color: darkred;
    font-weight: normal;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.border {
    border: 1px solid #d2ae94;
}

.other-font {
    color: #AAAAAA;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.topic-image {
    overflow: hidden;
    width: 400px;
    height: 250px;
}

.topic-image .image-list {
    margin: 0;
    padding: 0;
    z-index: 999;
}

.topic-image .image-page {
    position: relative;
    top: -60px;
    float: right;
    margin-right: 15px;
    z-index: 1000;
}

.topic-image .image-page li {
    float: left;
    display: block;
    text-align: center;
    line-height: 18px;
    width: 18px;
    height: 18px;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
    margin-left: 2px;
}

.page-selected {
    background-color: red;
    color: white;
}

.page-unselected {
    color: red;
    background-color: white;
}

.topic-image .image-div {
    width: 380px;
    margin: 8px auto;
    text-align: center;
}

.topic-home .image-list img {
    width: 380px;
    height: 200px;
}

.list-home .th-inner {
    background-color: #d2ae94;
    color: #8c0000;
}

.list-home .link-a {
    width: 500px;
    color: #82512e;
}

.news-home .news-title {
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.mine-file-list {
    margin: 0;
    padding: 0;
}

.mine-file-list > ul {
    margin: 0;
    padding: 0;
}

.mine-file-list > ul > li {
    list-style: none;
    margin: 5px 0;
}

.mine-file-list > ul > li a {
    color: #002a80;
}

.fixed-table-container tbody td .th-inner, .fixed-table-container thead th .th-inner {
    padding: 3px;
}

.fixed-table-pagination .pagination-detail, .fixed-table-pagination div.pagination {
    margin: 0 10px;
}