html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    color: black;
}

body {
    font-family: "宋体", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: #afdde0;
}

.wrapper {
    width: 1003px;
    margin: 0 auto;
    min-height: 100%;
    background-color: #eeedde;
}

.wrapper .header {
    height: 251px;
}

.wrapper .content {

}

.wrapper .footer-push {
    height: 57px;
}

.footer {
    position: relative;
    top: -57px;
    height: 57px;
    width: 1003px;
    clear: both;
    margin: 0 auto;
    background: url("../images/anyone/footer.jpg");
    font-size: 13px;
    color: white;
    text-align: center;
}

.header-top {
    background: url("../images/anyone/top.jpg") repeat;
    height: 27px;
}

.header-image {
    background: url("../images/anyone/top201507_06.jpg");
    height: 183px;
}

.header-menu {
    background: url("../images/anyone/jzmenu_02.jpg") repeat;
    height: 41px;
}

.header-top span, .header-menu span {
    float: right;
}

.header-top img, .header-menu img {
    padding: 0;
    margin: 0;
    float: left;
    cursor: pointer;
}

.header-menu label {
    margin-left: 20px;
    display: inline-block;
}

.search-btn {
    height: 25px;
    margin: 0;
    position: relative;
    top: -3px;
    padding: 0 10px;
    font-size: 12px;
}

/*新闻列表页面*/
.news-bg-title {
    background: url("../images/anyone/news/news_show_title.jpg") no-repeat;
    height: 47px;
}

.news-bg-title span {
    display: inline-block;
    margin-top: 12px;
    margin-left: 33px;
}

.news-bg-bottom {
    background: url("../images/anyone/news/news_show_bottm.jpg") repeat-y;
    height: 33px;
}

.news-bg-content {
    background: url("../images/anyone/news/news_show_bj.jpg") repeat-y;
}

.news-content {
    margin: 0 40px;
    font-size: 15px;
}

.news-content .news-title {
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.contacts-content{
    width:920px;
    margin:0 auto;
    background-color:white;
    padding:20px 15px;
    min-height:500px;
}

.ueditor-table {
   border:none;
}
.ueditor-table tr td{
    padding:3px 3px;
}

.th-inner{
    background-color: #6774a4;
    color: white;
}

.style-show-image{
    display: block;
    margin: 0 auto;
    min-width: 600px;
}
.style-content {
    margin: 0 40px;
    font-size: 15px;
    text-align: center;
}
.style-content-image{
    margin-top: 5px;
}