html,
body {
    width: 100%;
    height: 100%;
}

html {
    background-color: #f0f3f4;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    color: #58666e;
    background-color: transparent;
    overflow-x: hidden;
}

div {
    display: block;
}

.app {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.app:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    width: inherit;
    background-color: white;
    border: inherit;
    content: "";
}

.app-header-fixed {

}

.app-header-fixed .app-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.app-header {
    z-index: 1025;
}

.app-aside {
    padding-top: 50px;
    float: left;
}

.app-aside:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: inherit;
    background-color: inherit;
    border: inherit;
    content: "";
}

.app-content {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.app-content:before,
.app-content:after {
    display: table;
    content: " ";
}

.app-content:after {
    clear: both;
}

.app-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
}

@media (min-width: 768px) {
    .app-aside {
        width: 200px;
    }

    .app-content,
    .app-footer {
        margin-left: 200px;
    }
}

@media (max-width: 767px) {
    .app-aside {
        display: none;
    }

    .app {
        overflow-x: hidden;
    }

    .app-content {
        -webkit-transition: -webkit-transform 0.2s ease;
        -moz-transition: -moz-transform 0.2s ease;
        -o-transition: -o-transform 0.2s ease;
        transition: transform 0.2s ease;
    }
}

.bg-dark {
    color: #a6a8b1;
    background-color: #3a3f51;
}

.aside-app-div a {
    display: block;
    color: #b4b6bd;
    padding: 10px;
}

.aside-app-menu-div {
    height: 20px;
}

.aside-app-div .first-menu-a {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.aside-app-div .second-menu-a {
    padding-left: 50px;
    background: #32374a;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #4b4a5e;
}

/*overwrite bootstrap style*/
.aside-app-div .nav > li > a:hover,
.aside-app-div .nav > li > a:focus {
    color: white;
    background-color: #b63b4d;
}

.navbar, .nav {
    margin-bottom: 0px;
}

.form-horizontal .control-label {
    text-align: left;
    width: 100px;
}

.form-horizontal .controls {
    margin-left: 100px;
}

.form-horizontal .control-title {
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #edeef2;
    line-height: 30px;
    color: black;
    margin-bottom: 20px;
}

.form-horizontal .control-footer {
    border-top: 1px solid #edeef2;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.help-inline .message {
    font-size: 12px;
    margin-left: 5px;
}
.help-inline i{
    font-size: 16px;
}

.gridStyle {
    height: 400px;
    display: block;
    position: relative;
    margin: 10px 0px;
    border: 1px solid #d4d4d4;
}

/* overwrite ng-grid style*/
.ngTopPanel, .ngFooterPanel {
    background-color: #f6f8fa;
}

.ngRow.selected {
    background-color: #EAF3FD;
}

.ngRow:hover {
    background-color: #FFFFF0;
}

/* overwrite bootstrap modal style*/
.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal {
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.modal-header {
    background-color: #2d6987;
}

.modal-title {
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.modal-body {
    min-height: 100px;
    max-height: 400px;
    overflow-y: auto;
}