html,
body {
    width: 100%;
    height: 100%;
}

html {
    background-color: #f0f3f4;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42857143;
    color: #58666e;
    background-color: transparent;
    overflow-x: hidden;
}

div {
    display: block;
}

.app {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.app:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    width: inherit;
    background-color: #f3f3f3;
    border: inherit;
    content: "";
}

.app-header-fixed {

}

.app-header-fixed .app-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.app-header {
    z-index: 999;
}

.app-aside {
    padding-top: 50px;
    float: left;
}

.app-aside:before {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: inherit;
    background-color: inherit;
    border: inherit;
    content: "";
}

.app-content {
    padding-top: 50px;
    height: 100%;
    font-size: 13px;
}

.app-content:before,
.app-content:after {
    display: table;
    content: " ";
}

.app-content:after {
    clear: both;
}

.app-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    background-color: #3a3f51;
}

@media (min-width: 768px) {
    .app-aside {
        width: 200px;
    }

    .app-content,
    .app-footer {
        margin-left: 200px;
    }
}

@media (max-width: 767px) {
    .app-aside {
        display: none;
    }

    .app {
        overflow-x: hidden;
    }

    .app-content {
        -webkit-transition: -webkit-transform 0.2s ease;
        -moz-transition: -moz-transform 0.2s ease;
        -o-transition: -o-transform 0.2s ease;
        transition: transform 0.2s ease;
    }
}

.bg-dark {
    color: #a6a8b1;
    background-color: #3a3f51;
}

.aside-app-div a {
    display: block;
    color: #b4b6bd;
    padding: 10px;
}

.aside-app-menu-div {
    height: 20px;
}

.aside-app-div .first-menu-a {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.aside-app-div .second-menu-a {
    padding-left: 50px;
    background: #32374a;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #4b4a5e;
}

/*overwrite bootstrap style*/
.aside-app-div .nav > li > a:hover,
.aside-app-div .nav > li > a:focus {
    color: white;
    background-color: #b63b4d;
}

.navbar, .nav {
    margin-bottom: 0px;
}

.form-horizontal .control-label {
    text-align: left;
    width: 100px;
}

.form-horizontal .controls {
    margin-left: 100px;
}

.form-horizontal .control-footer {
    border-top: 1px solid #edeef2;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
}

.help-inline .message {
    font-size: 12px;
    margin-left: 5px;
}

.help-inline i {
    font-size: 16px;
}

.gridStyle {
    height: 400px;
    display: block;
    position: relative;
    margin: 10px 0px;
}

/* overwrite ng-grid style*/
.ngTopPanel {
    background-color: #f9f6f1;
    color: #336699;
}

.ngFooterPanel {
    background-color: white;
    border-top: 1px solid #edeef2;
}

.ngSortButtonUp, .ngSortButtonDown {
    border-color: #336699 transparent;
}

/*.ngRow:hover {
    background-color: #FFFFF0;
}*/
.ngRow.even {
    background-color: white;
}

.ngRow.odd {
    background-color: #faf9f9;
}

.ngRow.selected {
    background-color: #337ab7;
    color: white;
}

.ngRow.selected a {
    color: white;
}

.ngCell {
    border-bottom: 1px solid #edeef2;
    font-size: 13px;
}

.ngHeaderCell {
    border-bottom: 1px solid #edeef2;
    border-left: 1px solid white;
    font-size: 13px;
}

.ngVerticalBarVisible {
    background-color: transparent;
}

/*
.ngSelectionCell{
  margin-top:2px;
}*/
.ngSelectionHeader {
    top: 8px;
}

.ngPagerButton {
    background-color: #337ab7;
    border: 1px solid transparent;
    cursor: pointer;
    border-color: #2e6da4;
}

.ngPagerButton[disabled] {
    background-color: #97CBFF;
    border-color: white;
}

.ngPagerFirstBar, .ngPagerLastBar {
    border-color: white;
}

.ngPagerFirstTriangle {
    border-color: transparent white transparent transparent;
}

.ngPagerLastTriangle, .ngPagerNextTriangle {
    border-color: transparent transparent transparent white;
}
.ngTotalSelectContainer{
    font-size: 12px;
}

.edui-container *{-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}
.edui-container *:before,.edui-container *:after {-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;}