body {
    font-family: sans-serif;
    background-color: #F5F5F5;
}

.content-foot {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.content {
    position: absolute;
    width: 400px;
    height: 230px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
    color: white;
}

.top {
    text-align: center;
    margin: 0 auto;
    letter-spacing: 3px;
}

.bottom {
    padding: 5px;
    text-align: center;
    color: ghostwhite;
    font-size: 12px;
}

.login {
    height: 230px;
    color: white;
    background-color: white;
    border: 1px solid #285F8F;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;

}
.login-top{
    padding-left:10px;
    height:30px;
    line-height:30px;
    background-color:#285F8F;
}
.login-top > i{
   margin-top:2px;
}
.login-top > span{
   font-weight:bold;
}
.logo {
    position: absolute;
    top: 125px;
    left: 30px;
}

.form-horizontal .control-label {
    width: 50px;
}

.form-horizontal .controls {
    margin-left: 60px;
}

.message-error {
    color: crimson;
    margin-top: 5px;
    font-size: 12px;
}
