.mine-action {
    display: inline-table;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
}

.mine-action > a {
    color: #337ab7;
    text-decoration: none;
}

.mine-action > a:hover {
    color: orangered;
}

.mine-border {
    border: 1px solid #edeef2;
}

.mine-layout {
    padding: 0px 20px;
}

.mine-layout-content {
    background-color: white;
    padding: 8px;
}

.mine-location {
    margin: 8px 0px;
    color: #2f332a;
    height: 24px;
    border-bottom: 1px solid #edeef2;
}

.mine-location ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
    font-size: 12px;
}

.mine-location ul li a {
    display: block;
    float: left;
    height: 24px;
    background: white;
    text-align: center;
    line-height: 24px;
    padding: 0px 5px 0px 15px;
    position: relative;
    margin-right: 5px;
    font-size: 12px;
    text-decoration: none;
    color: gray;
}

.mine-location ul li a:after {
    content: "";
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid white;
    position: absolute;
    z-index: 100;
    right: -12px;
    top: 0;

}

.mine-location ul li a:before {
    content: "";
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #f3f3f3;
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
}

.mine-location ul li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mine-location ul li:first-child a:before {
    display: none;
}

.mine-title {
    font-size: 13px;
    font-weight: bold;
    border-bottom: 1px solid #edeef2;
    line-height: 25px;
    height:30px;
    color: black;
    margin-bottom: 20px;
    color:#336699;
}

.mine-title > i{
    margin-right:5px;
}

.mine-required {
    color: red;
    margin-left: 5px;
}

.mine-inline {
    display: inline-block;
}

.mine-validator{
    line-height: 30px;
}
.mine-label{
    padding-top: 8px;
    font-weight: normal;
}
/* overwrite bootstrap modal style*/
.has-error .mine-validator {
    color: #a94442;
}

.modal {
    top: 20%;
}

.modal-header {
    background-color: #2d6987;
    padding: 8px;
}

.modal-footer {
    padding: 10px;
}

.modal-title {
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.modal-title-icon {
    color: white;
    font-size: 16px;
}

.modal-body {
    min-height: 50px;
    max-height: 400px;
    overflow-y: auto;
}

.alert {
    padding: 10px;
}
