<div class="topic-home">
    <div class="top">
        <div ng-repeat="topic in home.imgColumns">
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="400">
                        <div class="topic-image border">
                            <ul class="image-list">
                                <li ng-repeat="news in topic.newses" ng-class="{true:'show',false:'hide'}[$index==0]">
                                    <div class="image-div"><img ng-src="{{news.imageUrl}}"/></div>
                                    <div class="image-div">
                                        <a href="#/newsInfo/{{news.number}}" class="link-a" title="{{news.title}}"> {{news.title}} </a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="image-page">
                                <li ng-repeat="news in topic.newses" ng-class="{true:'page-selected',false:'page-unselected'}[$index==0]">
                                    {{$index + 1}}
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td width="20">
                        &nbsp;
                    </td>
                    <td valign="top">
                        <div class="image-title">
                            <label>
                                <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
                                {{topic.name}}
                            </label>
                            <a ng-href="{{'#/newsList/'+topic.code}}" class="image-more right"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;更多</a>
                        </div>
                        <div class="image-body">
                            <div ng-repeat="news in topic.newses" class="image-news-title">
                                <a href="#/newsInfo/{{news.number}}" class="link-a" title="{{news.title}}">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                    &nbsp;{{news.title}}
                                </a>
                                <span class="other-font right">{{news.publishTime}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="body">
        <div ng-repeat="topic in home.columns" class="column border"
             ng-class="{true:'left',false:'right'}[$index%2==0]">
            <div class="title">
                <span class="left"><i class="fa fa-bars" aria-hidden="true"></i>&nbsp;{{topic.name}}</span>
                <a ng-href="{{'#/newsList/'+topic.code}}" class="more right"><i class="fa fa-angle-double-right" aria-hidden="true"></i>&nbsp;更多</a>
            </div>
            <div class="content">
                <div ng-repeat="news in topic.newses" class="news-title">
                    <a href="#/newsInfo/{{news.number}}" class="link-a" title="{{news.title}}"> <i class="fa fa-caret-right"
                                                                          aria-hidden="true"></i>&nbsp;
                        {{news.title}}
                    </a>
                    <span class="other-font right">{{news.publishTime}}</span>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>