<div>
    <div ng-repeat="topic in home.imgColumns" class="topic-image">
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="400">
                    <div class="images"></div>
                </td>
                <td>
                    {{topic.name}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div>
    <div ng-repeat="topic in home.columns" class="topic-normal">
        <div class="title">{{topic.name}}</div>
        <div class="content"></div>
    </div>
</div>