<div class="mine-layout">
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-user-o"></i>已提交一览</div>
        <div class="mine-content">
            <div class="form-inline mine-query">
                <span class="form-group">
                    <label>申请时间</label>
                    <mine-date ng-model="filter.queryStartTime"></mine-date>
                </span>
                <span class="form-group">
                    <label>至</label>
                    <mine-date ng-model="filter.queryEndTime"></mine-date>
                </span>
                <span class="form-group">
                    <button class="btn btn-sm btn-danger" type="button" ng-click="query()">查询</button>
                </span>
            </div>
            <div class="mine-line"></div>
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>
</div>