<div class="mine-layout">
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-tasks"></i>已处理任务</div>
        <div class="mine-content">
            <div class="form-inline mine-query">
                <div class="form-group">
                    <label>业务类型</label>
                    <mine-dropdown inputId="processType" ng-model="filter.processType"></mine-dropdown>
                </div>
                <div class="form-group">
                    <label>主题</label>
                    <input type="text" class="form-control input-sm" ng-model="filter.subject"/>
                </div>
                <span class="form-group">
                    <button class="btn btn-sm btn-danger" type="button" ng-click="query()">查询</button>
                </span>
                <br/>
                <span class="form-group">
                    <label>处理时间</label>
                    <mine-datetime ng-model="filter.queryTime"></mine-datetime>
                </span>
                <span class="form-group">
                    <label>至</label>
                    <mine-datetime ng-model="filter.queryTimeEnd"></mine-datetime>
                </span>
            </div>
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>
</div>