<div class="mine-layout">
    <div class="mine-layout-content">
        <div class="mine-title"><i class="fa fa-user-o"></i>待处理一览</div>
        <div class="mine-content">
            <div class="form-inline mine-query">
                <div class="form-group">
                    <label>主题</label>
                    <input type="text" class="form-control input-sm" ng-model="filter.subject"/>
                </div>
                <span class="form-group">
                    <button class="btn btn-sm btn-danger" type="button" ng-click="query()">查询</button>
                </span>
            </div>
            <div class="mine-line"></div>
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>
</div>