<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>流鱼飞燕</title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.min.css}"/>
    <link rel='stylesheet' th:href='@{/lib/angular/loadingbar/loading-bar.css}' type='text/css' media='all'/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body>
<div class="app app-header-fixed" ng-app="mainApp">
    <div ng-include="'app/header.htm'" class="app-header"></div>
    <div ng-controller="asideController" ng-include="'app/aside.htm'" class="app-aside bg-dark"></div>
    <div ng-controller="contentController" class="app-content">
        <div>
            <menu-nav values="navLocations"></menu-nav>
        </div>
        <ng-view></ng-view>
    </div>
    <div ng-include="'app/footer.htm'" class="app-footer"></div>
</div>
<script th:src="@{/lib/angular/angular.min.js}"></script>
<script th:src="@{/lib/angular/angular-route.min.js}"></script>
<script th:src="@{/lib/angular/angular-animate.min.js}"></script>
<script th:src="@{/lib/angular/loadingbar/loading-bar.js}"></script>
<script th:src="@{/lib/jquery/jquery-1.8.3.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>