<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>公安网网站管理后台</title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/angular/textAngular/textAngular.css}"/>
    <link rel='stylesheet' th:href='@{/lib/angular/loadingbar/loading-bar.css}' type='text/css' media='all'/>
    <link rel="stylesheet" th:href="@{/lib/zTree/css/zTreeStyle/zTreeStyle.css}"/>
    <link rel="stylesheet" th:href="@{/lib/angular/ngGrid/ng-grid.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/umeditor/themes/default/css/umeditor.min.css}"/>
    <link rel="stylesheet" th:href="@{/lib/datetimepicker/css/jquery.datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <link rel="stylesheet" th:href="@{/css/mine.css}"/>
    <link rel="stylesheet" th:href="@{/css/overwrite.css}"/>

</head>
<body>
<input id="appContextPath" type="hidden" th:value="@{/}" />
<div class="app app-header-fixed" ng-app="mainApp">
    <div ng-controller="headerController" ng-include="'app/header.htm'" class="app-header"></div>
    <div ng-controller="menuController" ng-include="'app/menu.htm'" class="app-aside bg-dark"></div>
    <div ng-controller="contentController" class="app-content">
        <div ui-view></div>
    </div>
    <div ng-include="'app/footer.htm'" class="app-footer"></div>
</div>
<script th:src="@{/lib/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/ui/jquery-ui.min.js}"></script>
<script th:src="@{/lib/zTree/js/jquery.ztree.all-3.5.min.js}"></script>
<script th:src="@{/lib/datetimepicker/js/jquery.datetimepicker.full.min.js}"></script>
<script th:src="@{/lib/angular/angular.min.js}"></script>
<script th:src="@{/lib/angular/angular-ui-router.js}"></script>
<script th:src="@{/lib/angular/angular-animate.min.js}"></script>
<script th:src="@{/lib/angular/ngStorage/ngStorage.min.js}"></script>
<script th:src="@{/lib/angular/loadingbar/loading-bar.js}"></script>
<script th:src="@{/lib/angular/ngGrid/ng-grid-2.0.14.debug.js}"></script>
<script th:src="@{/lib/angular/bootstrap/ui-bootstrap-tpls-2.5.0.min.js}"></script>
<script th:src="@{/lib/angular/upload/ng-file-upload.min.js}"></script>
<script th:src="@{/lib/angular/upload/ng-file-upload-shim.min.js}"></script>
<script th:src="@{/lib/bootstrap3/js/bootstrap.min.js}"></script>
<script th:src="@{/lib/umeditor/template.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/app-base.js}"></script>
<script th:src="@{/js/app-directive.js}"></script>
<script th:src="@{/js/app-service.js}"></script>
<script th:src="@{/lib/umeditor/umeditor.config.js}"></script>
<script th:src="@{/lib/umeditor/umeditor.js}"></script>
<script th:src="@{/lib/umeditor/lang/zh-cn/zh-cn.js}"></script>
<script th:src="@{/js/route/system_menu.js}"></script>
<script th:src="@{/js/route/system_user.js}"></script>
<script th:src="@{/js/route/system_role.js}"></script>
<script th:src="@{/js/route/system_depart.js}"></script>
<script th:src="@{/js/route/system_organ.js}"></script>
<script th:src="@{/js/route/news.js}"></script>
<script th:src="@{/js/route/flow.js}"></script>
</body>
</html>