<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="content">
    <div class="top"><h4>XX网站管理后台</h4></div>
    <div class="login">
        <table cellpadding="0" cellspacing="0" width="100%" height="250">
            <tr>
                <td width="30%">
                    <div class="logo">
                        <img width="96" th:src="@{/images/admin/logo.png}">
                    </div>
                </td>
                <td>
                    <div style="margin: 20px;" ng-app="loginApp" ng-controller="loginCtl">
                        <form class="form-horizontal" name="loginForm">
                            <div class="message-error">{{message}}</div>
                            <div class="control-group">
                                <label class="control-label" for="inputAccount">用户：</label>
                                <div class="controls">
                                    <input type="text" id="inputAccount" placeholder="username"
                                           ng-model="user.account" required/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="inputPassword">密码：</label>
                                <div class="controls">
                                    <input type="password" id="inputPassword" placeholder="password"
                                           ng-model="user.password" required/>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button class="btn btn-primary" ng-click="login(loginForm.$valid)"  ng-disabled="loginForm.$invalid">登录</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="bottom"></div>
</div>
<script th:src="@{/lib/angular/angular.min.js}"></script>
<script>
    var login = angular.module('loginApp', []);
    login.controller('loginCtl', function ($scope, $http) {
        $scope.login = function (valid) {
            if (!valid) {
                return;
            }
            $http.post("/ajax/login", null, {params: $scope.user})
                    .then(function successCallback(response) {
                        if (response.data.status == "1000") {
                            location.href = "/admin/index";
                        } else {
                            $scope.message = response.data.message;
                        }
                    });
        };
    });
</script>
</body>
</html>