<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/lib/bootstrap3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel='stylesheet' th:href='@{/lib/angular/loadingbar/loading-bar.css}' type='text/css' media='all'/>
</head>
<body>
<div class="content">
    <div class="login">
        <div class="login-top">
            <img height="40" th:src="@{/icons/logo_login.png}">
        </div>
        <div style="margin-left: 90px;" ng-app="loginApp" ng-controller="loginCtl">
            <form class="form-horizontal" name="loginForm">
                <div class="input-group col-sm-8">
                    <label></label>
                </div>
                <div class="input-group col col-sm-9">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text" class="form-control input-sm" id="inputAccount" placeholder="username"
                           ng-model="user.account" required/>
                </div>
                <br/>
                <div class="input-group col-sm-9">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input type="password" class="form-control input-sm" id="inputPassword" placeholder="password"
                           ng-model="user.password" required/>
                </div>
                <br/>
                <div class="input-group col-sm-9">
                    <button class="btn btn-info btn-sm" ng-click="login(loginForm.$valid)" style="float: right;" ng-disabled="loginForm.$invalid">登录
                    </button>
                </div>
                <div class="message-error" ng-show="message != null">{{message}}</div>
            </form>
        </div>
    </div>
    <div class="bottom"></div>
</div>
<div class="content-foot"></div>
<script th:src="@{/lib/angular/angular.min.js}"></script>
<script th:src="@{/lib/angular/loadingbar/loading-bar.js}"></script>
<script>
    var login = angular.module('loginApp', ['angular-loading-bar']);
    login.controller('loginCtl', function ($scope, $http) {
        $scope.login = function (valid) {
            if (!valid) {
                return;
            }
            $http.get("admin/ajax/login", {params: $scope.user}).then(function successCallback(response) {
                if (response.data.status == "1000") {
                    location.href = "admin/index";
                } else {
                    $scope.message = response.data.message;
                }
            });
        };
    });
</script>
</body>
</html>