<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">
                &times;
            </button>
            <i class=" icon-th-large icon-white"></i><span class="modal-title">新建菜单</span>
        </div>
        <div class="modal-body">
            TO DO STHING
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">保存</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </div>
</div>